.profile-card-container {
    display: flex;
    gap: 20px;
    /* width: 400px; */
}

.profile-listings-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-listing-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: column;
}
