.profile-dropdown {
  position: absolute;
  top: 116px;
  right: 40px;
  border: 1px solid rgb(251, 160, 165);
  padding: 10px;
  padding-left: 10px;
  width: 210px;
  cursor: pointer;
  border-radius: 8px;

}

.hidden {
  display: none;
}


.group-links {
  display: flex;
  align-items: center;
}

#home {
  font-family: "Gloock", serif;
  font-size: 50pt;
  text-decoration: none;
  color: skyblue;
  margin-left: 15px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-new-listing {
  margin-right: 25px;
  border: solid white 1px;
  background-color: lightslategrey;
  color: white;
  border-radius: 5px;
  font-size: 12pt;
  padding: 4px;
  padding-left: 15px;
  padding-right: 15px;
}

.profile-btn {
  margin-right: 15px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(251, 160, 165);
  cursor: pointer;
}


.profile-button-container {
  margin-right: 15px;
}

.nav-buttons {
  margin: 30px;
  border: none;
  padding: 5px;
  color: white;
  background-color: rgb(251, 160, 165);
  border-radius: 5px;
  font-size: 11pt;
  font-family: Comfortaa;
}

.line {
  border: solid rgb(246, 208, 210) 1px;
  /* margin-bottom: 5px; */
}

.button-group {
  display: flex;
  gap: 5px;
}
