.signup-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f1e7e7;
  border-radius: 4px;
}

.signup-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.error-list {
  color: red;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}


.signup-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.form-input-field {
    display: flex;
    flex-direction: column;
}

.form-input-field {
    display: flex;
    flex-direction: column;
}
