body {
  font-family: Comfortaa;
}

#ad-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

#listing-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 7px;
}

.listing-card {
  /* flex: 0 0 20%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  background-color: #fcf7f7;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  /* height: 400px; */
}

.listing-card .description {
  max-height: 3.8em;
  /* overflow: auto; */
  overflow: hidden;
  line-height: 1.3em;
  flex-grow: 1;
}


.listing-card .description.expanded {
  max-height: none;
  overflow: visible;
}

.listing-card .read-more-button {
  display: inline-block;
  align-self: flex-end;
}

.listing-card p {
  margin-bottom: 5px;
}

.listings-container {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-direction: row;
  grid-gap: 5px;
  /* width: 80%; */
  margin-top: 5%;

}

body {
  overflow-x: hidden;
}

.page-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-start; */
}

.read-more-button {
  border: none;
  background-color: #fcf7f7;
  font-style: italic;
  font-family: Comfortaa;
  cursor: pointer;
}

.listing-card-details {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: #fcf7f7;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    width: 450px;
}

.review-card {
  display: grid;
  flex-direction: column;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  width: 450px;
  background-color: #fcf7f7;

}

#review-user-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50px;
}
/* .first-card-text i {
    font-size: 50pt;
} */

.index-container {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}

.first-card-text h1 {
  text-align: right;
  font-style: italic;
  margin-right: 5px;
  margin-top: 50px;
}

.categories {
  display: flex;
  gap: 10px;
}

.listing-card-row {
  display: flex;
}
