body {
  font-family: Comfortaa;
}

#ad-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

#listing-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 7px;
}

.listing-card {
  /* flex: 0 0 20%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  background-color: #fcf7f7;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  /* height: 400px; */
}

.listing-card .description {
  max-height: 3.8em;
  /* overflow: auto; */
  overflow: hidden;
  line-height: 1.3em;
  flex-grow: 1;
}


.listing-card .description.expanded {
  max-height: none;
  overflow: visible;
}

.listing-card .read-more-button {
  display: inline-block;
  align-self: flex-end;
}

.listing-card p {
  margin-bottom: 5px;
}

.listings-container {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-direction: row;
  grid-gap: 5px;
  /* width: 80%; */
  margin-top: 5%;

}

body {
  overflow-x: hidden;
}

.page-container {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  align-items: center;
}

.test-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.read-more-button {
  border: none;
  background-color: #fcf7f7;
  font-style: italic;
  font-family: Comfortaa;
  cursor: pointer;
}

.listing-card-details {
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    margin-right: 14px;
    margin-top: 8px;
    gap: 5px;
    padding-left: 31px;
    padding-right: 31px;
    background-color: #fcf7f7;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    width: 445px;
}

.review-card {
  display: grid;
  flex-direction: column;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  width: 450px;
  background-color: #fcf7f7;
  margin-top: 9px;

}

#review-user-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
  margin-left: 15px;
  margin-top: 15px;
}
/* .first-card-text i {
    font-size: 50pt;
} */

.index-container {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}

.first-card-text h1 {
  text-align: right;
  font-style: italic;
  margin-right: 5px;
  margin-top: 50px;
}

.categories {
  display: flex;
  gap: 10px;
}

.listing-card-row {
  display: flex;
}

.listing-and-review {
  display: flex;
}

.user-review-info {
  display: flex;
  flex-direction: column;
}

.review-img-and-info {
  display: flex;
  gap: 15px;
}

.user-location {
  color: grey;
}

.review-comment {
  margin-left: 15px;
}

.create-new-review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  background-color: #fcf7f7;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  width: 930px;
}

.search-button {
  margin-left: 8px;
  padding: 5px;
}
.search-bar {
  width: 400px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.logo-image {
  margin-left: 15px;
}

.edit-listing-button {
  margin-right: 10px;
  font-family: Comfortaa;
}

.edit-delete-listing-button {
  margin-top: 15px;

}

.delete-listing-button {
  font-family: Comfortaa;
}

.keep-listing-button {
  font-family: Comfortaa;
}

.modal-delete-button {
  font-family: Comfortaa;
}
